COMPOSE_PROJECT_NAME=zcout-backend

APP_NAME=Zcout
APP_KEY=base64:YOUR_APP_KEY
APP_DEBUG=false
APP_ENV=production
APP_URL=https://zcout.so
FRONTEND_URL=https://zcout.so

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=zcout
DB_USERNAME=zcout
DB_PASSWORD=YOUR_DB_PASSWORD

CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_DOMAIN=.zcout.so
SESSION_SECURE_COOKIE=true

SANCTUM_STATEFUL_DOMAINS=zcout.so,www.zcout.so

BROADCAST_DRIVER=pusher
PUSHER_APP_ID=zcout
PUSHER_APP_KEY=zcout-key
PUSHER_APP_SECRET=YOUR_PUSHER_SECRET
PUSHER_HOST=soketi
APP_CIPHER=aes-256-cbc
PUSHER_PORT=6001
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=mt1

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=https://zcout.so/auth/google/callback

FOOTBALL_DATA_TOKEN=YOUR_FOOTBALL_DATA_TOKEN
SPORTMONKS_TOKEN=YOUR_SPORTMONKS_TOKEN

NO_PROXY=localhost,127.0.0.1,zcout-backend_pgsql_1,zcout-backend_soketi_1
